{% load static %}
{% include 'accounts./navbar.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'css/reduces.css' %}">

<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reduce</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="container">
      <header>Reduce your Carbon Footprint</header>
      <form action="#" class="form">
        <div>
          <div class="tag">Purchase alternative fuel vehicle
            <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
      </div>
      <div>
        <div class="tag">Purchase electric vehicle
          <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
    </div>
    <div>
        <div class="tag">Telecommute to work
          <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
    </div>
    <div>
      <div class="tag">Take public transportation
        <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
  </div>
  <div>
    <div class="tag">Reduce air travel
      <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
  </div>
  <div>
    <div class="tag">Switch to CFLs or LEDs
      <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
  </div>
  <div>
    <div class="tag">Reduce summer household aircon
      <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
  </div>
  <div>
    <div class="tag">Use rechargeable batteries
      <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
  </div>
  <div>
    <div>
      <div class="tag">Recycle Newspaper
        <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
    </div>
    <div>
      <div class="tag">Recycle Aluminium/Tin
        <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
    </div>
    <div class="tag">Plant trees
      <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
  </div>
  <div>
    <div class="tag">Eat a low carbon diet
      <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
  </div>
  


      <div>
        
        <button><a href="http://127.0.0.1:8000/leaderboard/">Check Leaderboard</a></button>
      </form>
    </section>
  </body>
</html>

